<div class="container">
  <div class="row mb-3">
    <div class="col-12 col-lg-5 justify-content-start align-items-start mb-lg-2">
      <h3 class="mb-2 mb-lg-0 fw-bold">
        Show Player
      </h3>
    </div>
    <div class="col-12 col-lg-auto flex-1 ms-auto justify-content-center align-items-end mb-lg-2">
      <%= render 'actions', being: 'show', player: @player %>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-3">  
        <dl class="mb-3">
          <%if @player.img_url %>
            <%=image_tag @player.img_url, :style => "border-radius: 35%; margin-top: 10px; margin-left: 10px" %>
          <%end%>
        </dl>
      </div>
      <div class="col-md-2" style=" margin-top: 10px">
        <dl class="mb-2">
          <dt class="">Name</dt>
          <dd class=""><%= @player.name.present? ? @player.name : '<not set>' %></dd>
        </dl>
      </div>
      <div class="col-md-2" style="margin-top: 10px">
        <dl class="mb-3">
          <dt class="">Role</dt>
          <dd class=""><%= @player.role.present? ? @player.role : '<not set>' %></dd>
        </dl>
      </div>
      <div class="col-md-2" style="margin-top: 10px">
        <dl class="mb-3">
          <dt class="">Paid Price</dt>
          <dd class=""><%= @player.paid_price.present? ? @player.paid_price : '<not set>' %></dd>
        </dl>
      </div>
      <div class="col-md-2" style="margin-top: 10px">
        <dl class="mb-3">
          <dt class="">Team </dt>
          <dd class=""><%= @player.team_id.present? ? Team.find(@player.team_id).name : '<not set>' %></dd>
        </dl>
      </div>
      </div>
    </div>
  </div>
  <div class="container" style=" margin-top: 10px">
    <%= link_to 'Edit', edit_admin_player_path(@player), class: "btn btn-primary btn btn-dark ", style: "height: 35px; width: 70px" %>
    <%= link_to 'Back', admin_players_path, class: "btn bg-white btn-sm px-3", style: "margin-left:10px; height: 35px; width: 70px" %>
  </div>
</div>
