<!DOCTYPE html>
<html>
  <head>
    <title>FantaBaretto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'theme.scss' %>
    <%= yield :custom_stylesheet %>

    <%# favicon, by using data:image you save an extra HTTP request on each page load  %>
    <%= favicon_link_tag 'Logo-Fantacalcio.png' %>

  </head>

  <body class="profile bg-light" style="font-family: Courier New, monospace; padding-top: 70px" >
    <%# "toast" notification for flash messages  %>
    <%= render 'shared/toast', flash: flash %>

    <div class="admin container-fluid bg-light">
      <%= render 'shared/admin_nav' %>
      <div class="row flex-nowrap">

        <main class="main col pt-4">
          <%# main content for our public website will display here  %>
          <%= yield %>
        </main>
        
      </div>
    </div>

    <%= yield :custom_javascript %>
  </body>
</html>


