<!DOCTYPE html>
<html>
  <head>
    <title>FantaBaretto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%# Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'theme.scss' %>


    <%# favicon, by using data:image you save an extra HTTP request on each page load  %>
    <%= favicon_link_tag 'Logo-Fantacalcio.png' %>

  </head>

  <body class="authentication bg-light" style="background-image: url(https://dday.imgix.net/system/uploads/news/main_image/38061/708212_seriea_cover.jpg?ar=702%3A360&fit=crop&auto=format%2Ccompress&s=10f76fe28061a66f29b2c246b61d76a4); Courier New, monospace;">

    <%# "toast" notification for flash messages  %>
    <%= render 'shared/toast', flash: flash %>
    
    <div class="flex-center mt-5 py-4">
      <%= render 'shared/logo'  %>
    </div>


    <main>

      <%# main content for our public website will display here  %>
      <%= yield %>

    </main>

    <%# shared footer  %>
    <%= render 'shared/footer_auth' %>

    <%= yield :custom_javascript %>
  </body>
</html>
